<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylealtdados.css">


    <title>Selecionar Funcionário</title>

</head>

<body>
    <div id="form">
        <form action="">
            <h2 class="title">Alteração de Dados</h2>


            <select name="func">
                <option selected="" value="">Funcionário</option>
                <option value="Acre">Lucas</option>
                <option value="Alagoas">Caio</option>
                <option value="Alagoas">Luana</option>
                <option value="Alagoas">Cainan</option>
                <option value="Alagoas">Igor</option>
                <option value="Alagoas">Vitor</option>
                <option value="Alagoas">Bruno</option>
                </select>

            <label for="username"></label>

            <div class="input">
                <input id="nome" name="nome" placeholder="Nome" type="text">
            </div>

            <label for="email"></label>

            <div class="input">
                <input type="email" name="email" placeholder="E-Mail" type="text">
            </div>
            <label for="senha"></label>

            <div class="input">
                <input type="cargo" name="cargo" placeholder="Cargo" type="password">
            </div>

            <div class="btn">
                <button type="submit">Salvar</button>
            </div>

            <div class="btn1">
                <button type="submit">Cancelar</button>
            </div>

    </div>



</body>