<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylefun.css">
    <link rel="menu" href="menulateral.html">


    <title>Selecionar Funcionário</title>

</head>

<body>
    <div id="form">
        <form action="">
            <h2 class="title">Selecionar Funcionário</h2>


            <select name="func">
                <option selected="" value="">Selecione o Funcionário</option>
                <option value="Acre">Lucas</option>
                <option value="Alagoas">Caio</option>
                <option value="Alagoas">Luana</option>
                <option value="Alagoas">Cainan</option>
                <option value="Alagoas">Igor</option>
                <option value="Alagoas">Vitor</option>
                <option value="Alagoas">Bruno</option>
                </select>

            <div id="btn">
                <button type="submit">Selecionar</button>
            </div>

            <div id="btn">
                <button type="submit"><a href="C:\Users\Mudar2020\Desktop\altdados.html">Alterar dados</a></button>

            </div>

    </div>



</body>