<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylealtdados.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/registrarFunc.js"></script>

    <title>Cadastrar funcionario</title>

</head>

<body>
    <div id="form">
        <form action="">
            <h2 class="title">Alteração de Dados</h2>


            <select id="Cargos" name="Cargos" onclick="cargoOpt()">
                </select>

            <label for="username"></label>

            <div class="input">
                <input id="nome" name="nome" placeholder="Nome" type="text">
            </div>

            <label for="email"></label>

            <div class="input">
                <input type="email" name="email" placeholder="E-Mail" type="text">
            </div>
            <label for="senha"></label>


            <div class="btn">
                <button type="submit" onclick="salvar()">Salvar</button>
            </div>

            <div class="btn1">
                <button type="submit" onclick="window.location.href = '/redirecionar'">Cancelar</button>
            </div>

    </div>



</body>