<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylealtdados.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/registrarUser.js"></script>

    <title>Cadastrar funcionario</title>

</head>

<body>
    <div id="form">
            <h2 class="title">Alteração de Dados</h2>


            <select id="Funcionario" name="Cargos" onclick="cargoOpt()">
                </select>

            <label for="username"></label>

            <div class="input">
                <input id="Usuario" name="nome" placeholder="Usuario" type="text">
            </div>

            <label for="senha"></label>

            <div class="input">
                <input type="password" name="password" placeholder="Senha" id="senha">
            </div>

            <label for="confirmar senha"></label>
            <div class="input">
                <input type="password" name="password" placeholder="Senha" id="confirmarSenha">
            </div>
            

            <div class="btn">
                <button type="submit" onclick="salvar()">Salvar</button>
            </div>

            <div class="btn1">
                <button type="submit" onclick="window.location.href = '/redirecionar'">Cancelar</button>
            </div>

    </div>



</body>