<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylerelatorio.css">
    <link rel="stylesheet" href="stylehome.css">

    <title>relatorio</title>

</head>


<!--     telaaaaaaaaaaaaaaaaaaaaaaa Homeeeeeeeeeeeeee    -->

<body>


    <div id="style">
        <form action="hello">
            <h2 class="title">Relatório</h2>

            <!--     id funcionario    -->
            <label for="id_fun">id_funcionario</label>

            <div class="textarea">
                <input id="id_fun" name="id_fun" type="text">
            </div>

            <!--     nome            -->
            <label for="name">nome</label>

            <div class="textarea">
                <input id="name" name="name" type="text">
            </div>

            <!--     media           -->
            <label for="med">media</label>

            <div class="textarea">
                <input id="med" name="med" type="text">
            </div>

            <!--     total           -->
            <label for="tot">total</label>

            <div class="textarea">
                <input id="tot" name="tot" type="text">
            </div>

            <!--     porcentagem     -->
            <label for="porce">porcentagem</label>

            <div class="textarea">
                <input id="porce" name="porce" type="text">
            </div>


            <div id="btn">
                <button type="submit"><a href="file:///C:/Users/Mudar2020/Desktop/sup.html?username=&email=">Enviar</a></button>
            </div>



        </form>


    </div>

    <div id="conteudo">

        <h1></h1>

    </div>

    <div id="menu">
        <ul>
            <li><a href="C:\Users\Mudar2020\Desktop\menulateral.html">Home</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\index.html">Login</a></li>
            <li><a href="link3.htm">Perguntas</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\relatorio.html">Relatório</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\sup.html">Suporte</a></li>
        </ul>
    </div>
</body>

</html>