<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="supstyle.css">
    <link rel="stylesheet" href="stylehome.css">

    <title>Suporte</title>

</head>

<body>


    <div id="sup">
        <form action="">
            <h2 class="title">Suporte</h2>

            <label for="username">Nome</label>

            <div class="input">
                <input id="username" name="username" placeholder="Username" type="text">
            </div>

            <label for="email">Email</label>

            <div class="input">
                <input type="email" name="email" placeholder="Email" type="text">
            </div>

            <label for="duvida">Duvida</label>
            <div class="input2">
                <textarea rows="5" cols="40" maxlength="200000" placeholder="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Qual a sua Duvida ?"></textarea>

            </div>

            <div id="btn">
                <button type="submit">Enviar</button>
            </div>







        </form>

    </div>

    <div id="conteudo">

        <h1></h1>

    </div>

    <div id="menu">
        <ul>
            <li><a href="C:\Users\Mudar2020\Desktop\menulateral.html">Home</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\index.html">Login</a></li>
            <li><a href="link3.htm">Perguntas</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\relatorio.html">Relatório</a></li>
            <li><a href="C:\Users\Mudar2020\Desktop\sup.html">Suporte</a></li>
        </ul>
    </div>

</body>

</html>