<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="form.css">


    <title>cadastro</title>

</head>

<body>
    <div id="form">
        <form action="">
            <h2 class="title">Cadastrar</h2>

            <label for="username">Nome</label>

            <div class="input">
                <input id="username" name="username" placeholder="Username" type="text">
            </div>

            <label for="email">Email</label>

            <div class="input">
                <input type="email" name="email" placeholder="Email" type="text">
            </div>
            <label for="password">Senha</label>

            <div class="input">
                <input type="password" name="password" placeholder="Password" type="password">
            </div>

            <label for="cargo">Cargo</label>

            <div class="input">
                <input type="cargo" name="cargo" placeholder="Cargo" type="text">
            </div>

            <div id="btn">
                <button type="submit">Cadastrar</button>
            </div>
            <div id="btn2">
                <button type="submit"><a href="file:///C:/Users/Mudar2020/Desktop/index.html?username=&password=">Login</a></button>

            </div>



        </form>
    </div>

</body>

</html>