<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <title>Login</title>

</head>

<body>
    <div class="tela-login">
        <h1 class ='title'>Login</h1>
        <input type="text" placeholder="Usuário" id="Usuario">

        <input type="password" placeholder="Senha" id="Senha">
        <button onclick="login()">Enviar</button>

</body>

</html>