<html lang="pt">

<head>
    <meta charset="utf-8">

    <title>Security Survey</title>
    <meta name="description" content="Survey">
    <meta name="Lucas" content="Lucas">

    <link rel="stylesheet" href="perguntas2.0.css">
    <script src="resposta.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="two-thirds column">
                <h2>AVALIAÇÃO DE DESEMPENHO </h2>

                <div id="progress_bar"></div>
                <form class="questions_box">

                    <div id="question-1">
                        <h2>Questão 1</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-1" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-1" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-1" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-1" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit1" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-2">
                        <h2>Questão 2</h2>
                        <h3>Você utiliza a mesma senha para tudo?</h3>
                        <input id="question-2-answer-a" type="radio" name="favelang" value="1"> Sim!<br>
                        <input id="question-2-answer-b" type="radio" name="favelang" value="2"> Só para as senhas de cartão de crédito<br>
                        <input id="question-2-answer-c" type="radio" name="favelang" value="3"> Não, todas são diferentes!<br>
                        <input id="question-2-answer-d" type="radio" name="favelang" value="4"> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit2" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-3">
                        <h2>Questão 3</h2>
                        <h3>Você confia em um e-mail enviado pelas suas costas pedindo sua senha?</h3>
                        <input id="question-3-answer-a" type="radio" name="favelang" value="1"> Sim, é o banco afinal<br>
                        <input id="question-3-answer-b" type="radio" name="favelang" value="2"> Se parece oficial, sim<br>
                        <input id="question-3-answer-c" type="radio" name="favelang" value="3"> De jeito nenhum, um banco nunca pedirá a senha de sua conta<br>
                        <input id="question-3-answer-d" type="radio" name="favelang" value="4"> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit3" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-4">
                        <h2>Questão 4</h2>
                        <h3>Você costuma usar cartão de crédito virtual em compras online?</h3>
                        <input id="question-4-answer-a" type="radio" name="favelang" value="1"> Não <br>
                        <input id="question-4-answer-b" type="radio" name="favelang" value="2"> Raramente uso<br>
                        <input id="question-4-answer-c" type="radio" name="favelang" value="3"> Sim, com certeza!<br>
                        <input id="question-4-answer-d" type="radio" name="favelang" value="4"> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit4" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-5">
                        <h2>Questão 5</h2>
                        <h3>Você compartilha seu PIN com alguém?</h3>
                        <input id="question-5-answer-a" type="radio" name="favelang" value="1"> Sim, qualquer um que pedir por isso<br>
                        <input id="question-5-answer-b" type="radio" name="favelang" value="2"> Na verdade não, mas às vezes eu deixo meu(minha) parceiro(a) sacar dinheiro para mim<br>
                        <input id="question-5-answer-c" type="radio" name="favelang" value="3"> Nunca!<br>
                        <input id="question-5-answer-d" type="radio" name="favelang" value="4"> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit5" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-6">
                        <h2>Questão 6</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-6-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-6-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-6-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-6-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit6" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-7">
                        <h2>Questão 7</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-7-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-7-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-7-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-7-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit7" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-8">
                        <h2>Questão 8</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-8-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-8-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-8-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-8-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit8" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-9">
                        <h2>Questão 9</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-9-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-9-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-9-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-9-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit9" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-10">
                        <h2>Questão 10</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-10-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-10-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-10-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-10-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit10" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-11">
                        <h2>Questão 11</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-11-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-11-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-11-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-11-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit11" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-12">
                        <h2>Questão 12</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-12-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-12-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-12-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-12-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit12" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-13">
                        <h2>Questão 13</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-13-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-13-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-13-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-13-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit13" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-14">
                        <h2>Questão 14</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-14-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-14-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-14-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-14-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit14" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-15">
                        <h2>Questão 15</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-15-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-15-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-15-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-15-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit15" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-16">
                        <h2>Questão 16</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-16-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-16-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-16-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-16-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit16" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-17">
                        <h2>Questão 17</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-17-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-17-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-17-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-17-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit17" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-18">
                        <h2>Questão 18</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-18-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-18-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-18-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-18-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit18" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-19">
                        <h2>Questão 19</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-19-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-19-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-19-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-19-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit19" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-20">
                        <h2>Questão 20</h2>
                        <h3>Você se preocupa em se tornar uma vítima de fraude?</h3>
                        <input id="question-20-answer-a" type="radio" name="favelang" value=1> O que é Fraude?<br>
                        <input id="question-20-answer-b" type="radio" name="favelang" value=2> Nunca me preocupo<br>
                        <input id="question-20-answer-c" type="radio" name="favelang" value=3> Sim, eu me preocupo muito com isso!<br>
                        <input id="question-20-answer-d" type="radio" name="favelang" value=4> Sim, eu me preocupo muito com isso!<br>
                        <div id="submit20" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-21">
                        <h2>Obrigado por responder a pesquisa!</h2>
                        <h3>Seu score é : </h3>
                        <h1 id=printtotalscore></h1>
                        <p id=printscoreinfo></p>

                    </div>



                </form>

            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>

</html>