<html lang="pt">

<head>
    <meta charset="utf-8">

    <title>Security Survey</title>
    <meta name="description" content="Survey">
    <meta name="Lucas" content="Lucas">

    <link rel="stylesheet" href="/perguntas2.0.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="two-thirds column">
                <h2>AVALIAÇÃO DE DESEMPENHO </h2>

                <div id="progress_bar"></div>
                <form class="questions_box">

                    <div id="question-1">
                        <h2>Questão 1</h2>
                        <h3>1 - QUAL SUA FORMAÇÃO?</h3>
                        <input id="question-1-answer-a" type="radio" name="favelang" value=1> FUNDAMENTAL<br>
                        <input id="question-1-answer-b" type="radio" name="favelang" value=2> MÉDIO<br>
                        <input id="question-1-answer-c" type="radio" name="favelang" value=3> TÉCNICO<br>
                        <input id="question-1-answer-d" type="radio" name="favelang" value=4> SUPERIOR<br>
						<input id="question-1-answer-e" type="radio" name="favelang" value=5> PÓS-GRADUAÇÃO<br>
                        <div id="submit1" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-2">
                        <h2>Etapa-1</h2>
                        <h3>QUAL É SUA ÁREA DE ATUAÇÃO?</h3>
                        <input id="question-2-answer-a" type="radio" name="favelang" value="1"> NENHUMA<br>
                        <input id="question-2-answer-b" type="radio" name="favelang" value="2"> OUTROS<br>
                        <input id="question-2-answer-c" type="radio" name="favelang" value="3"> ADMINISTRAÇÃO<br>
                        <input id="question-2-answer-d" type="radio" name="favelang" value="4"> COMUNICAÇÃO<br>
                        <input id="question-2-answer-e" type="radio" name="favelang" value="5"> MARKETING<br>
                        <div id="submit2" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-3">
                        <h2>Etapa-1</h2>
                        <h3>HÁ QUANTO TEMPO VOCÊ É FORMADO?</h3>
                        <input id="question-3-answer-a" type="radio" name="favelang" value="1"> + 10 ANOS<br>
                        <input id="question-3-answer-b" type="radio" name="favelang" value="2"> 8 ANOS<br>
                        <input id="question-3-answer-c" type="radio" name="favelang" value="3"> 6 ANOS<br>
                        <input id="question-3-answer-d" type="radio" name="favelang" value="4"> 4 ANOS<br>
                        <input id="question-2-answer-e" type="radio" name="favelang" value="5"> +/- 2 ANOS<br>
                        <div id="submit3" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-4">
                        <h2>Etapa-1</h2>
                        <h3>QUANTAS ESPECIALIZAÇÕES VOCÊ POSSUI?</h3>
                        <input id="question-4-answer-a" type="radio" name="favelang" value="1"> NENHUMA <br>
                        <input id="question-4-answer-b" type="radio" name="favelang" value="2"> UMA<br>
                        <input id="question-4-answer-c" type="radio" name="favelang" value="3"> DUAS<br>
                        <input id="question-4-answer-d" type="radio" name="favelang" value="4"> 4 ANOS<br>
                        <input id="question-2-answer-e" type="radio" name="favelang" value="5"> QUATRO OU MAIS<br>
                        <div id="submit4" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                   
                    <div id="question-5">
                        <h2>Etapa-2</h2>
                        <h3>VOCÊ SE CONSIDERA UM LÍDER?</h3>
                        <input id="question-5-answer-a" type="radio" name="favelang" value="1"> AUTOCRÁTICO<br>
                        <input id="question-5-answer-b" type="radio" name="favelang" value="2"> LIBERAL<br>
                        <input id="question-5-answer-c" type="radio" name="favelang" value="3"> COERCITIVO<br>
                        <input id="question-5-answer-d" type="radio" name="favelang" value="4"> SITUACIONAL<br>
                        <input id="question-5-answer-e" type="radio" name="favelang" value="5"> DEMOCRÁTICO<br>
                        <div id="submit5" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-6">
                        <h2>Etapa-2</h2>
                        <h3>QUAL DESSES ELEMENTOS VOCÊ ACREDITA QUE SEJA O FUNDAMENTAL DA LIDERANÇA?</h3>
                        <input id="question-6-answer-a" type="radio" name="favelang" value=1> AUTORIDADE<br>
                        <input id="question-6-answer-b" type="radio" name="favelang" value=2> GESTÃO<br>
                        <input id="question-6-answer-c" type="radio" name="favelang" value=3> PODER<br>
                        <input id="question-6-answer-d" type="radio" name="favelang" value=4> PESSOAS<br>
                        <input id="question-6-answer-e" type="radio" name="favelang" value=5> INFLUÊNCIA<br>
                        <div id="submit6" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-7">
                        <h2>Etapa-2</h2>
                        <h3>QUAL DESSAS VOCÊ ACREDITA QUE SEJA A HABILIDADE MAIS IMPORTANTE PARA LIDERAR?</h3>
                        <input id="question-7-answer-a" type="radio" name="favelang" value=1> SABER MOTIVAR<br>
                        <input id="question-7-answer-b" type="radio" name="favelang" value=2> SABER DELEGAR<br>
                        <input id="question-7-answer-c" type="radio" name="favelang" value=3> TER BOA PERCEPÇÃO<br>
                        <input id="question-7-answer-d" type="radio" name="favelang" value=4> SER INTELIGENTE EMOCIONALMENTE<br>
                        <input id="question-7-answer-e" type="radio" name="favelang" value=5> SABER SE RELACIONAR COM DIVERSOS PERFIS <br>
                        <div id="submit7" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-8">
                        <h2>Etapa-2</h2>
                        <h3>4 - POR MEIO DO QUE VOCÊ FARIA A GESTÃO DE CONFLITOS DA SUA EQUIPE? </h3>
                        <input id="question-8-answer-a" type="radio" name="favelang" value=1>DISCUSSÃO<br>
                        <input id="question-8-answer-b" type="radio" name="favelang" value=2> EXEMPLOS<br>
                        <input id="question-8-answer-c" type="radio" name="favelang" value=3> FEEDBACK<br>
                        <input id="question-8-answer-d" type="radio" name="favelang" value=4> IDENTIFICAÇÃO DO PROBLEMA<br>
                        <input id="question-8-answer-e" type="radio" name="favelang" value=5> COMUNICAÇÃO<br>
                        <div id="submit8" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                   
                    <div id="question-9">
                        <h2>Etapa-3</h2>
                        <h3>QUAL DESSES VOCÊ ACREDITA SER O PILAR PARA UM BOM RELACIONAMENTO INTERPESSOAL?</h3>
                        <input id="question-9-answer-a" type="radio" name="favelang" value=1> INDIVIDUALISMO<br>
                        <input id="question-9-answer-b" type="radio" name="favelang" value=2> EMPATIA<br>
                        <input id="question-9-answer-c" type="radio" name="favelang" value=3> ÉTICA<br>
                        <input id="question-9-answer-d" type="radio" name="favelang" value=4> ASSERTIVIDADE<br>
                        <input id="question-9-answer-e" type="radio" name="favelang" value=5> AUTOCONHECIMENTO<br>
                        <div id="submit9" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-10">
                        <h2>Etapa-3</h2>
                        <h3>QUAL DESSES PERFIS VOCÊ ACHA MAIS FÁCIL DE LIDAR?</h3>
                        <input id="question-10-answer-a" type="radio" name="favelang" value=1> MANIPULADOR<br>
                        <input id="question-10-answer-b" type="radio" name="favelang" value=2> PROCRASTINADOR<br>
                        <input id="question-10-answer-c" type="radio" name="favelang" value=3> COMUNICADOR<br>
                        <input id="question-10-answer-d" type="radio" name="favelang" value=4> ANALISTA<br>
                        <input id="question-10-answer-e" type="radio" name="favelang" value=5> PLANEJADOR<br>
                        <div id="submit10" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-11">
                        <h2>Etapa-3</h2>
                        <h3>SE VOCÊ PUDESSE ESCOLHER OS MEMBROS DA SUA EQUIPE, QUAIS COMPETÊNCIAIS ELES DEVERIAM TER?</h3>
                        <input id="question-11-answer-a" type="radio" name="favelang" value=1> AUTOCONFIANÇA<br>
                        <input id="question-11-answer-b" type="radio" name="favelang" value=2> ORGANIZAÇÃO<br>
                        <input id="question-11-answer-c" type="radio" name="favelang" value=3> PROATIVIDADE<br>
                        <input id="question-11-answer-d" type="radio" name="favelang" value=4> COMPROMETIMENTO<br>
                        <input id="question-11-answer-e" type="radio" name="favelang" value=5> TRABALHO EM EQUIPE<br>
                        <div id="submit11" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-12">
                        <h2>Etapa-3</h2>
                        <h3>QUAL DESSES FATORES VOCÊ ACREDITA QUE INFLUENCIAM NO RELACIONAMENTO INTERPESSOAL?</h3>
                        <input id="question-12-answer-a" type="radio" name="favelang" value=1> AMIZADE<br>
                        <input id="question-12-answer-b" type="radio" name="favelang" value=2> COOPERAÇÃO<br>
                        <input id="question-12-answer-c" type="radio" name="favelang" value=3> CORDIALIDADE<br>
                        <input id="question-12-answer-d" type="radio" name="favelang" value=4> ENTROSAMENTE<br>
                        <input id="question-12-answer-e" type="radio" name="favelang" value=5> RESPEITO<br>
                        <div id="submit12" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div id="question-13">
                        <h2>Etapa-4</h2>
                        <h3>QUAL DESSAS VOCÊ ACREDITA SER SUA MAIOR HABILIDADE COMPORTAMENTAL?</h3>
                        <input id="question-13-answer-a" type="radio" name="favelang" value=1> AUTOCONHECIMENTO<br>
                        <input id="question-13-answer-b" type="radio" name="favelang" value=2> INICIATIVA<br>
                        <input id="question-13-answer-c" type="radio" name="favelang" value=3> COMUNICAÇÃO<br>
                        <input id="question-13-answer-d" type="radio" name="favelang" value=4> CRIATIVIDADE<br>
                        <input id="question-13-answer-e" type="radio" name="favelang" value=5> LIDERANÇA<br>
                        <div id="submit13" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-14">
                        <h2>Etapa-4</h2>
                        <h3>QUAL DESSAS VOCÊ ACREDITA SER SUA MAIOR HABILIDADE PROFISSIONAL?</h3>
                        <input id="question-14-answer-a" type="radio" name="favelang" value=1> ÉTICA <br>
                        <input id="question-14-answer-b" type="radio" name="favelang" value=2> VISÃO ESTRATÉGICA<br>
                        <input id="question-14-answer-c" type="radio" name="favelang" value=3> LIDERANÇA<br>
                        <input id="question-14-answer-d" type="radio" name="favelang" value=4> FOCO NOS RESULTADOS<br>
                        <input id="question-14-answer-e" type="radio" name="favelang" value=5> CAPACIDADE ANALÍTICA<br>
                        <div id="submit14" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-15">
                        <h2>Etapa-4</h2>
                        <h3>QUAL DESSAS HABILIDADES VOCÊ ACREDITA QUE PRECISA DESENVOLVER OU MELHORAR? </h3>
                        <input id="question-15-answer-a" type="radio" name="favelang" value=1> CRIATIVIDADE<br>
                        <input id="question-15-answer-b" type="radio" name="favelang" value=2> MENTALIDADE DE CRESCIMENTO<br>
                        <input id="question-15-answer-c" type="radio" name="favelang" value=3> TOMADA DE DECISÃO<br>
                        <input id="question-15-answer-d" type="radio" name="favelang" value=4> COMUNICAÇÃO<br>
                        <input id="question-15-answer-e" type="radio" name="favelang" value=5> LIDERANÇA<br>
                        <div id="submit15" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-16">
                        <h2>Etapa-4</h2>
                        <h3>QUAL DESSAS VOCÊ ACREDITA SER SUA MAIOR HABILIDADE TÉCNICA?</h3>
                        <input id="question-16-answer-a" type="radio" name="favelang" value=1> ANÁLISE DO CENÁRIO<br>
                        <input id="question-16-answer-b" type="radio" name="favelang" value=2> IDIOMAS<br>
                        <input id="question-16-answer-c" type="radio" name="favelang" value=3> DOMINÍO DE PLATAFORMAS DE DIVULGAÇÃO<br>
                        <input id="question-16-answer-d" type="radio" name="favelang" value=4> GESTÃO DE PROJETOS<br>
                        <input id="question-16-answer-e" type="radio" name="favelang" value=5> CONHECIMENTO DAS EXIGÊNCIAS FISCAIS<br>
                        <div id="submit16" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div id="question-17">
                        <h2>Etapa-5</h2>
                        <h3>O QUE VOCÊ ACREDITA NECESSÁRIO PARA SER UM PROFISSIONAL RESPONSÁVEL?</h3>
                        <input id="question-17-answer-a" type="radio" name="favelang" value=1> SIGILO<br>
                        <input id="question-17-answer-b" type="radio" name="favelang" value=2> LIDERANÇA<br>
                        <input id="question-17-answer-c" type="radio" name="favelang" value=3> ATENÇÃO AOS DETALHES<br>
                        <input id="question-17-answer-d" type="radio" name="favelang" value=4> PAIXÃO PELO O QUE FAZ<br>
                        <input id="question-17-answer-e" type="radio" name="favelang" value=5> TER INICIATIVA<br>
                        <div id="submit17" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-18">
                        <h2>Etapa-5</h2>
                        <h3>POR MEIO DO QUE VOCÊ ACREDITA QUE A RESPONSABILIDADE PODE SER MELHORADA?</h3>
                        <input id="question-18-answer-a" type="radio" name="favelang" value=1> CONTROLE DAS EMOÇÕES<br>
                        <input id="question-18-answer-b" type="radio" name="favelang" value=2> RECONHECER AS CONSEQUÊNCIAS DAS AÇÕES<br>
                        <input id="question-18-answer-c" type="radio" name="favelang" value=3> NÃO COLOCAR  A CULPA NO OUTRO<br>
                        <input id="question-18-answer-d" type="radio" name="favelang" value=4> FAZER AS COISAS SEM NINGUÉM PRECISAR PEDIR<br>
                        <input id="question-18-answer-e" type="radio" name="favelang" value=5> CUMPRINDO SUAS OBRIGAÇÕES<br>
                        <div id="submit18" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-19">
                        <h2>Etapa-5</h2>
                        <h3>O QUE TE MOTIVA A DAR O SEU MELHOR NO TRABALHO?</h3>
                        <input id="question-19-answer-a" type="radio" name="favelang" value=1> METAS E OBJETIVOS<br>
                        <input id="question-19-answer-b" type="radio" name="favelang" value=2> SALÁRIO<br>
                        <input id="question-19-answer-c" type="radio" name="favelang" value=3> REALIZAÇÃO PESSOAL<br>
                        <input id="question-19-answer-d" type="radio" name="favelang" value=4> RECONHECIMENTO<br>
                        <input id="question-19-answer-e" type="radio" name="favelang" value=5> RESULTADOS<br>
                        <div id="submit19" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="question-20">
                        <h2>Etapa-5</h2>
                        <h3>QUAL DESSES FATORES VOCÊ ACREDITA SER O QUE MAIS CAUSA A FALTA DE COMPROMETIMENTO NO TRABALHO?</h3>
                        <input id="question-20-answer-a" type="radio" name="favelang" value=1> PRESSÃO EXCESSIVA<br>
                        <input id="question-20-answer-b" type="radio" name="favelang" value=2> CANSAÇO<br>
                        <input id="question-20-answer-c" type="radio" name="favelang" value=3> DESCONTENTAMENTO<br>
                        <input id="question-20-answer-d" type="radio" name="favelang" value=4> RELACIONAMENTO INTERPESSOAL<br>
                        <input id="question-20-answer-e" type="radio" name="favelang" value=5> PROBLEMAS PESSOAIS<br>
                        <div id="submit20" class="button">Enviar Resposta</div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="question-21">
                        <h2>Obrigado por responder a pesquisa!</h2>
                        <h3>Seu score é : </h3>
                        <h1 id=printtotalscore></h1>
                        <p id=printscoreinfo></p>

                    </div>



                </form>

            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>
</body>

</html>